
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

/* slider animation */
@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

.showWelcomeBox {
  animation: slideIn 1s forwards;
}

.hideWelcomeBox {
  animation: slideOut 1s forwards;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
